body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1448px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:10000px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:10000px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4992px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:224px;
}
#u2 {
  position:absolute;
  left:1011px;
  top:6794px;
  width:364px;
  height:224px;
}
#u3 {
  position:absolute;
  left:2px;
  top:104px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:525px;
}
#u4 {
  position:absolute;
  left:616px;
  top:7534px;
  width:794px;
  height:525px;
}
#u5 {
  position:absolute;
  left:2px;
  top:254px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
}
#u6 {
  position:absolute;
  left:607px;
  top:8283px;
  width:161px;
  height:46px;
  font-size:28px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:4291px;
}
#u8 {
  position:absolute;
  left:0px;
  top:8485px;
  width:650px;
  height:4291px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2138px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:452px;
}
#u10 {
  position:absolute;
  left:357px;
  top:9244px;
  width:293px;
  height:452px;
}
#u11 {
  position:absolute;
  left:2px;
  top:218px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:452px;
}
#u12 {
  position:absolute;
  left:134px;
  top:12033px;
  width:427px;
  height:452px;
}
#u13 {
  position:absolute;
  left:2px;
  top:218px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:39px;
}
#u14 {
  position:absolute;
  left:453px;
  top:12530px;
  width:180px;
  height:39px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u16 {
  position:absolute;
  left:627px;
  top:9402px;
  width:60px;
  height:60px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
}
#u18 {
  position:absolute;
  left:977px;
  top:7382px;
  width:161px;
  height:46px;
  font-size:28px;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u20 {
  position:absolute;
  left:540px;
  top:12126px;
  width:53px;
  height:53px;
  -webkit-transform:rotate(10deg);
  -moz-transform:rotate(10deg);
  -ms-transform:rotate(10deg);
  transform:rotate(10deg);
}
#u21 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:4765px;
}
#u22 {
  position:absolute;
  left:790px;
  top:8439px;
  width:650px;
  height:4765px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2374px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:339px;
}
#u24 {
  position:absolute;
  left:883px;
  top:12609px;
  width:273px;
  height:339px;
}
#u25 {
  position:absolute;
  left:2px;
  top:162px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u26 {
  position:absolute;
  left:1040px;
  top:12724px;
  width:58px;
  height:58px;
  -webkit-transform:rotate(320deg);
  -moz-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  transform:rotate(320deg);
}
#u27 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:4471px;
}
#u28 {
  position:absolute;
  left:0px;
  top:13202px;
  width:650px;
  height:4471px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2228px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:3059px;
}
#u30 {
  position:absolute;
  left:790px;
  top:13874px;
  width:650px;
  height:3059px;
}
#u31 {
  position:absolute;
  left:2px;
  top:1522px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:169px;
}
#u32 {
  position:absolute;
  left:781px;
  top:16660px;
  width:667px;
  height:169px;
}
#u33 {
  position:absolute;
  left:2px;
  top:76px;
  width:663px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1446px;
  height:170px;
}
#u34 {
  position:absolute;
  left:0px;
  top:21283px;
  width:1446px;
  height:170px;
}
#u35 {
  position:absolute;
  left:2px;
  top:77px;
  width:1442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u36 {
  position:absolute;
  left:937px;
  top:17570px;
  width:26px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  visibility:hidden;
  white-space:nowrap;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:553px;
  top:21350px;
  width:341px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1328px;
  top:7px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position: absolute;
    left: 0px;
    top: 17735px;
    width: 1446px;
    height: 3610px;
}

